/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.google{
         width: 26px;
    height: 24px;
    margin-top: 1%;
}
.twitter{
            width: 28px;
    height: 25px;
    margin-top: 1%;
}
.facebook{
      width: 37px;
    height: 27px;

    margin-top: 0%;
}
.message{
   width: 28px;
    height: 25px
}
.phone{
   width: 28px;
    height: 25px
}
.logo{
        width: 64px;
    height: 50px;
    margin-top: 2%;
}
// .toolbar1{
//          background-color: #3949AB;
// }
 .toolbar1{
    background: #3c4ca9;
    color: rgba(255,255,255,.87);
}
.toolbar2{
   margin-top: -3%;
    background: #3c4ca9;
    color: rgba(255,255,255,.87);
}
.outer{
        background-color: #3F51B5;
}
// .rent{
//        margin-left: 48%;
//     margin-top: 8%;
//     height: 39%; 
// }
.dining,.castle,.hall,.house{
    margin-right: 10px;
   height: 75%;
    width: 102%;
    margin-top: -12%;
    
   
    box-sizing: border-box;
}


.text{
    margin-top: 8%;
     height: 60%;   
       bottom: 257%;
       background-color:white;
       width:500px;
}
.card{
    margin-right: 10px;
    width: 21%;
  
    margin-top: -8%;
   
    height: 127%;
   
    box-sizing: border-box; 
}
.img-fluid{
    width:178px;
}
.bg{
       background-color: #3F51B5;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.example-card{
    width:400px;
}
.img-card{
       height: 243%;
    width: 16.5%;
}
.top1xs{
    width:50%;
}
.outercol{
    width:100%;
}

